.page {
  --background: #b6b16b;
  --foreground: #394a75;
  --text-primary: #000;
  --text-secondary: #777;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.boardLayer {
  position: absolute;
  inset: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  pointer-events: none;
}



